<div class="container" fxLayout="row" fxlayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <app-to-do-items-list fxFlex="50%" [toDoList]="todayToDoList" [listName]="todayTasksBoardName" [listDescription]="todayTasksBoardDescription" [showDatePicker]="false">
  </app-to-do-items-list>
  <app-to-do-items-list fxFlex="50%" [toDoList]="toDoList" [listName]="allTasksBoardName" [listDescription]="allTasksBoardDescription" [showDatePicker]="true">
  </app-to-do-items-list>
</div>




